Flask>=2.0
moviepy>=1.0.3
yt-dlp>=2025.11.0
requests>=2.25
imageio-ffmpeg>=0.4.7
numpy>=1.23
Pillow>=9.0
gunicorn>=20.1.0

# Optional (uncomment if you use environment files locally)
# python-dotenv>=0.21.0
